<h1>Hello World!</h1>

<p>Hello World from the Basics Controller!</p>

<ul>
    <li>Andrew</li>
    <li>John</li>
    <li>Jane</li>
</ul>

<p>Goodbye World!</p>

<h2>Form</h2>

<form action="" method="GET" name="nameForm">
    <input type="text" value="Name" name="name">
    <input type="submit" value="Send" name="send">
</form>